@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit" asp-page-handler="Upload">Upload</button>
    </form>

    <button class="long-button" id="convertButton" disabled=@Model.ConvertButtonDisabled>Convert</button>

    @if(Model.UploadedImageFilepath is not null)
    {
       <img id="myImage" src=@Model.UploadedImageFilepath>
    }

</div>
