@page
@model WallpaperMaker.Pages.ViewImageModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a test for viewing rotated images.</p>
    <img src="@Model.ImagePath" alt="test" />
</div>
